.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: var(--color1);
    color: var(--color4);
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid var(--color4);
    max-width: 55%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    width: 90%; 
}

.modal-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--color4);
    cursor: pointer;
}