.wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
}

.color1 {
    color: var(--color1);
}

/*Datepicker*/
input[type="date"] {
    background-color: transparent;
    color: var(--color1);
    font-weight: bold;
    border: 1px solid var(--colorPink); 
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
     color-scheme: dark;
}

input[type="radio"] {
    accent-color: var(--colorPink);
    color-scheme: dark;
    appearance: none; 
    width: 20px;
    height: 20px;
    border: 2px solid var(--color1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    margin-right: 0.5rem;
}

input[type="radio"]:checked {
    background-color: var(--colorPink); 
    border-color: var(--colorPink);
}

.mode-selector label {
    color: var(--color1);
    font-weight: bold;
    cursor: pointer;
}
input[type="radio"], .mode-selector label {
    cursor: pointer;
}

.mode-selector {
    margin-top: 1rem;
    
}


