.wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
}

.color1 {
    color: var(--color1);
}

/*Datepicker*/
input[type="date"] {
    background-color: transparent;
    color: var(--color1);
    font-weight: bold;
    border: 1px solid var(--colorPink); 
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
     color-scheme: dark;
}

input[type="radio"] {
    accent-color: var(--color1Transparent); 
}
.mode-selector label {
    color: var(--color1);
    font-weight: bold;
}
input[type="radio"], .mode-selector label {
    cursor: pointer;
}

.mode-selector {
    margin-top: 1rem;
    
}


