.footer {
    background: var(--color1);
    color: var(--color4);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-top: 1px solid var(--colorPink);
}

.footer strong {
    color: var(--colorPink);
}