@import './styles/variables.css';
@import './styles/animation.css';

body {
  color: var(--color4);
  text-align: center;
}

.text-left {
  text-align: left;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.mt-2 {
  margin-top: 2rem;
}
.pl-5p {
  padding-left: 5px
}
.left {
  text-align: left;
}

.main {
  border: 1px solid var(--colorPink);
  background: var(--color1Transparent);
  padding: 0.5rem 1rem;
  margin: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h4 {
  font-family: 'Courier New', monospace;
  color: var(--color4);
  animation: lights 5s 750ms linear infinite;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
    h1,h4 {
        line-height: 1;
    }
}

.title {
  margin-bottom: 1rem;
}

section {
  border-top: 1px solid var(--colorPink);
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  background-color: var(--color3);
  color: var(--color1);
  border: none;
  padding: 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}
