@import "../../styles/modal.css";

.pictures-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
    text-overflow: ellipsis; overflow: hidden;
    cursor: pointer;
}

.picture-item {
    border-radius: 10px;
    background: linear-gradient(to bottom, var(--color1Transparent), var(--color1)); 
    display: flex;
    flex-direction: column;
    width: 300px; 
    height: 400px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

figure {
     margin: 0;
}

figcaption {
    color: var(--color3);
    font-weight: bold;
}

a {
    text-decoration: underline;
    color: var(--color2);
    cursor: pointer;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto; 
    color: var(--color3);
}

.card-footer p {
    flex: 1;
    text-align: left;
    padding-left: 7px;
}

.card-footer a {
    flex: 1;
    text-align: right;
    text-decoration: underline;
    color: var(--color3);
    padding-right: 7px;
}